# Ignore asset folders
epiconsult_assets/
jaiz_assets/
fhc_assets/

# Ignore file types
*.pdf
*.xlsx
*.ipynb
*.csv
*.docx

# Environment and sensitive files
.env
ServiceAccountKey.json
firebase_config.html

# Ignore project data folders
new_database/
dataset/
